#ball{
    background-color: red;
    width: 18px;
    height: 18px;
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}
#plate{
    width: 150px;
    height: 10px;
    position: absolute;
    left: 0px;
    top: 470px;
    position: absolute;
    background-color: black;
    z-index: 1;
}
.brick{
    width: 100px;
    height: 20px;
    position: absolute;
    z-index: 0;
}